<div id="templateContent"></div>


<script type="text/javascript" charset="utf-8">
  window.onload = function() {
    var data = {'userName': 'Chris'};
    insertTemplateJSON('templateContent', 'home', data);
  }
</script>
