<div class="splash">

  <div class="splash-content">
    Welcome to <span class="w400">BookBag</span>
    <br/>
    <div class="button">
      log in
    </div>
  </div>

  <div class="background-video-container">
    <video loop muted autoplay class="background-video">
      <source src="assets/bg-video-raw.mp4" type="video/mp4">
    </video>
  </div>
</div>


<div class="section">
  <div class="title">
    What is BookBag?
  </div>
  <div class="text-block">Plaid bitters swag readymade, kogi fixie hella American Apparel before they sold out PBR Blue Bottle farm-to-table. XOXO selvage quinoa vinyl gastropub Odd Future, bicycle rights stumptown deep v hella disrupt gluten-free Williamsburg you probably haven't heard of them. DIY synth PBR jean shorts.</div>
</div>


<div class="section">
  <div class="title">
    How does BookBag work?
  </div>
  <div class="column">
    <img class="icon" src="assets/add.png">
    Plaid bitters swag readymade, kogi fixie hella American Apparel before they sold out PBR Blue Bottle farm-to-table.
  </div>
  <div class="column">
    <img class="icon" src="assets/book.png">
    Plaid bitters swag readymade, kogi fixie hella American Apparel before they sold out PBR Blue Bottle farm-to-table.
  </div>
  <div class="column">
    <img class="icon" src="assets/check.png">
    Plaid bitters swag readymade, kogi fixie hella American Apparel before they sold out PBR Blue Bottle farm-to-table.
  </div>
</div>


<div class="section">
  <div class="title">
    Frequently Asked Questions
  </div>
  <div class="text-block align-left">
    <div class="question">Who can see my books?</div>
    <div class="answer">Only users who have logged into their account will be able to search and find users and their personal library.</div>
    <div class="question">Who can see my books?</div>
    <div class="answer">Only users who have logged into their account will be able to search and find users and their personal library.</div>
    <div class="question">Who can see my books?</div>
    <div class="answer">Only users who have logged into their account will be able to search and find users and their personal library.</div>
  </div>
</div>


<div class="section">
  <div class="title">
    Reviews
  </div>
  <div class="column">Plaid bitters swag readymade, kogi fixie hella American Apparel before they sold out PBR Blue Bottle farm-to-table.</div>
  <div class="column">Plaid bitters swag readymade, kogi fixie hella American Apparel before they sold out PBR Blue Bottle farm-to-table.</div>
  <div class="column">Plaid bitters swag readymade, kogi fixie hella American Apparel before they sold out PBR Blue Bottle farm-to-table.</div>
</div>
