<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BookBag</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700' rel='stylesheet' type='text/css'>
  <script src="/js/handlebars.runtime-v4.0.2.js"></script>
  <script src="/js/templates.js"></script>
  <script src="/js/utilities.js"></script>
  <script src="/js/tail.js"></script>
</head>
<body>

<div id="main">
  <%= yield %>
</div>

<div class="header">
  <a href="/">
    <div class="header-left">
      BookBag
    </div>
  </a>

  <div class="header-right">
    UserName
    <ul>
      <li>Library</li>
      <li>Book bag</li>
      <li>Search</li>
    </ul>
  </div>
</div>



<div class="footer">
  <div class="column">
    <h3>Quick links</h3>
    Home<br/>
    Library<br/>
    Book bag<br/>
    Search
  </div>

  <div class="column">
    <h3>About</h3>
    LeTourneau University<br/>
    Software Engineering II<br/>
    2100 S. Mobberly Ave<br/>
    Longview, TX.
  </div>

  <div class="column">
    <h3>Developers</h3>
    Chris Loewer<br/>
    Alex Meadows<br/>
    Isacc Davis<br/>
    Anuj Shah
  </div>
</div>

</body>
</html>
