<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BookBag</title>
  <link rel="stylesheet" href="styles/main.css">
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="main">
  <%= yield %>
</div>

<div class="header">
  <div class="header-left">
    BOOKBAG
  </div>
  <div class="header-right">
    UserName
    <ul>
      <li>Account</li>
      <li>Activity</li>
      <li>Book bag</li>
      <li>Search</li>
    </ul>
  </div>
</div>

</body>
</html>
