<div class="splash">

  <div class="splash-content">
    <h1>Error</h1>

    <p>An error occurred while creating your account. Please try again.</p>
    <p class="error">Error: <%= @msg %></p>
  </div>

</div>
