<div class="splash">

  <div class="splash-content">
    <h1>Join BookBag</h1>

    <form action="/api/user/signup" method="post">
      <fieldset>
        <label for="username">Username</label><input id="username" maxlength="100" name="username" type="text">
      </fieldset>
      <fieldset>
        <label for="email">Email</label><input id="email" maxlength="100" name="email" type="text">
      </fieldset>
      <fieldset>
        <label for="password">Password</label><input maxlength="25" name="password" type="password">
      </fieldset>
      <fieldset>
        <input type="submit" value="Sign Up" class="button-light">
      </fieldset>
    </form>
  </div>

</div>
