<div class="main-container">
  <h1>Your Library</h1>

  <div class="button">Add Book</div>

  <table class="library-list">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Owner</th>
    </tr>

    {{#each books}}
      <tr class="book-item">
        <td>{{this.title}}</td>
        <td>{{this.author}}</td>
        <td>{{this.owner}}</td>
      </tr>
    {{/each}}
  </table>
</div>
