// Variables
$header-height: 50px;
//$highlight-color-1: #161021;
$highlight-color-1-alpha: rgba(53,34,84,0.9);
$highlight-color-1: rgb(53,34,84);
$highlight-color-2: #25183A;
$video-tint: rgba(61,39,97, 0.7);
$main-color-1: #C0B7CF;
$main-color-2: #FFF2FF;
$secondary-font-color: #FFF2FF;

// Mix-ins
@mixin border-radius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}

// Content
* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 18px;
}
body, html {
  padding: 0;
  margin: 0;
}

// HEADER
.header {
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100%;
  background-color: $highlight-color-1-alpha;
  color: $secondary-font-color;
}
.header-left {
  display: inline-block;
  position: absolute;
  height: $header-height;
  line-height: $header-height;
  left: 30px;
  top: 0;
}
.header-right {
  display: inline-block;
  position: absolute;
  text-align: right;
  height: $header-height;
  line-height: $header-height;
  right: 30px;
  top: 0;

  ul {
    visibility: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-bottom: none;
    transition-delay: .75s;
  }
  li {
    line-height: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid black;
    cursor: pointer;
    background-color: $highlight-color-1-alpha;
  }
  li:hover {
    background-color: $highlight-color-1;
  }
  li:active {
    background-color: $highlight-color-2;
  }
}
.header-right:hover > ul {
  visibility: visible;
    transition-delay: 0s;
}

// SPLASH
.splash {
  position: relative;
  height: 100vh;
  text-align: center;
  text-shadow: 0 0 3px #000;
  color: $secondary-font-color;
  background-color: $video-tint;
}
.splash::before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.splash-content {
  display: inline-block;
  vertical-align: middle;
  font-size: 48px;
  font-weight: 300;
}

.background-video-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;

  .background-video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.button {
  border: 1px solid white;
  @include border-radius(20px);

  display: inline-block;
  width: 100px;
  padding: 10px;
  font-size: 24px;
  font-weight: 200;
  cursor: pointer;
}
.button:hover {
  background-color: $highlight-color-1;
}
.button:active {
  background-color: $highlight-color-2;
}

// SECTIONS
.section {
  min-height: 100px;
  padding: 100px;
  text-align: center;
  background-color: $main-color-2;

  .title {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 50px;
  }
  
  .icon {
    width: 100px;
    display: block;
    margin: 0 auto 30px auto;
  }
  
  .text-block {
    display: inline-block;
    width: 45%;
  }
  .column {
    display: inline-block;
    width: 25%;
    margin: 0 3%;
  }

  .question {
    margin: 10px 0;
    font-weight: 300;
  }
  .answer {
    padding-left: 50px;
  }
}
.section:nth-of-type(2n+1) {
  background-color: $main-color-1;
}


// AVERAGE PAGES
.main-container {
  min-height: 100vh;
  padding: 80px 0;
  text-align: center;

  .button {
    margin: 20px 0;
  }

  table {
    margin: 0 auto;
    text-align: left;

    td {
      padding: 0 20px;
    }
  }
}


// FOOTER
.footer {
  min-height: 150px;
  padding: 50px 20% 20px 20%;
  background-color: $highlight-color-1;
  text-align: center;
  color: $secondary-font-color;

  .column {
    text-align: left;
    display: inline-block;
    width: 25%;
    margin: 0 3%;
  }
  .column:nth-of-type(n+2) {
    text-align: center;
  }
  .column:last-of-type {
    text-align: right;
  }
}

// UTILITIES
.w400 {
  font-size: inherit;
  font-weight: 400;
}

hr {
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  margin: 0;
}
h2 {
  font-size: 32px;
  font-weight: 300;
}
h3 {
  font-weight: 300;
}

.align-left {
  text-align: left;
}
