// Variables
$header-height: 50px;
$header-offset: 100px;

$highlight-color-1-alpha: rgba(16, 42, 63, 0.9);
$highlight-color-1: rgb(16, 42, 63);
$highlight-color-2: #0b1d29;
$highlight-color-3: #9AB8D4;
$highlight-color-4: #829BB2;
$video-tint: rgba(50,48,50, 0.8);
$main-color-1: #cfdfe7;
$main-color-2: #FFFFFF;
$secondary-font-color: #FFFFFF;
$alternate-color-1: #8f3530;
// Mix-ins
@mixin border-radius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}

// RESETS
* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
body, html {
  padding: 0;
  margin: 0;
}
body{
  background-color: $main-color-2;
  font-weight: 200;
  font-size: 20px;
  line-height: 1.5;
}
fieldset {
  border: none;
}
p {
  font-size: 20px;
}
a {
  color: inherit;
}

// HEADER
.header {
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100%;
  background-color: $highlight-color-1-alpha;
  color: $secondary-font-color;
}
.header-left {
  display: inline-block;
  position: absolute;
  height: $header-height;
  line-height: $header-height;
  left: 30px;
  top: 0;
  font-weight: 400;
  font-size: larger;
  cursor: pointer;
}
.header-right {
  display: inline-block;
  position: absolute;
  text-align: right;
  height: $header-height;
  line-height: $header-height;
  right: 30px;
  top: 0;
  cursor: pointer;

  ul {
    visibility: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-bottom: none;
    transition-delay: .75s;
  }
  li {
    line-height: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid black;
    cursor: pointer;
    background-color: $highlight-color-1-alpha;
  }
  li:hover {
    background-color: $highlight-color-1;
  }
  li:active {
    background-color: $highlight-color-2;
  }
}
.header-right:hover > ul {
  visibility: visible;
    transition-delay: 0s;
}

// SPLASH
.splash {
  position: relative;
  height: 100vh;
  text-align: center;
}
.splash::before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.splash-content {
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
}

.home-color-scheme {
  text-shadow: 0 0 3px #000;
  color: $secondary-font-color;
  background-color: $video-tint;
}

.background-video-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;

  .background-video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}


// SECTIONS
.section {
  min-height: 100px;
  padding: 100px;
  text-align: center;
  background-color: $main-color-2;

  .title {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 50px;
  }
  
  .icon {
    width: 100px;
    display: block;
    margin: 0 auto;
  }
  .icon + h3 {
    font-weight: 400;
    font-size: 24px;
  }
  
  .text-block {
    display: inline-block;
    width: 45%;
  }
  .column {
    display: inline-block;
    width: 25%;
    margin: 0 3%;
  }

  .question {
    margin: 10px 0;
    font-weight: 300;
  }
  .answer {
    padding-left: 50px;
  }
}
.section:nth-of-type(2n+1) {
  background-color: $main-color-1;
}


// AVERAGE PAGES
.main-container {
  min-height: 100vh;
  min-height: calc(100vh - #{$header-offset});;
  padding-top: $header-offset;
  text-align: center;

  .button {
    margin: 20px 0;
  }

  table {
    margin: 0 auto;
    text-align: left;

    th {
      padding: 0 20px;
      font-weight: 400;
    }
    td {
      padding: 0 20px;
    }
  }
}

// FORMS

form {
  padding: 20px;
}
label, input {
  padding: 5px 15px;
  margin: 5px 0;
}
input {
  width: 150px;
}


// FOOTER
.footer {
  min-height: 150px;
  padding: 50px 20% 20px 20%;
  background-color: $highlight-color-1;
  text-align: center;
  color: $secondary-font-color;
  font-size: 16px;

  .column {
    text-align: left;
    display: inline-block;
    width: 25%;
    margin: 0 3%;
  }
  .column:nth-of-type(n+2) {
    text-align: center;
  }
  .column:last-of-type {
    text-align: right;
  }
}

// BUTTONS

.button {
  border: 1px solid white;
  @include border-radius(20px);

  display: inline-block;
  width: 100px;
  padding: 10px;
  font-size: 24px;
  font-weight: 200;
  cursor: pointer;
}
.button:hover {
  background-color: $highlight-color-1;
}
.button:active {
  background-color: $highlight-color-2;
}


.button-light {
  border: 1px solid white;
  @include border-radius(20px);
  background-color: $main-color-1;

  display: inline-block;
  width: 100px;
  padding: 10px;
  font-size: 24px;
  font-weight: 200;
  cursor: pointer;
}
.button-light:hover {
  background-color: $highlight-color-3;
}
.button-light:active {
  background-color: $highlight-color-4;
}

// UTILITIES
.w400 {
  font-size: inherit;
  font-weight: 400;
}

hr {
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  margin: 0;
}
h2 {
  font-size: 32px;
  font-weight: 300;
}
h3 {
  font-weight: 300;
}

.error {
  color: $alternate-color-1;
}
.small-link {
  display: block;
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}
.small-link:hover {
  text-decoration: underline;
}

.align-left {
  text-align: left;
}

.hidden {
  display: none;
}
