* {
  font-family: 'Yanone Kaffeesatz', sans-serif; }

body, html {
  padding: 0;
  margin: 0; }

body {
  background-color: white;
  font-weight: 200;
  font-size: 20px;
  line-height: 1.5; }

fieldset {
  border: none; }

p {
  font-size: 20px; }

a {
  color: inherit; }

input[type='submit'] {
  background-color: transparent;
  color: inherit; }

.header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(16, 42, 63, 0.9);
  color: white; }

.header-left {
  display: inline-block;
  position: absolute;
  height: 50px;
  line-height: 50px;
  left: 30px;
  top: 0;
  font-weight: 400;
  font-size: larger;
  cursor: pointer; }

.header-right {
  display: inline-block;
  position: absolute;
  text-align: right;
  height: 50px;
  line-height: 50px;
  right: 30px;
  top: 0;
  cursor: pointer; }
  .header-right ul {
    visibility: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-bottom: none;
    transition-delay: .75s; }
  .header-right li {
    line-height: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid black;
    cursor: pointer;
    background-color: rgba(16, 42, 63, 0.9); }
  .header-right li:hover {
    background-color: #102a3f; }
  .header-right li:active {
    background-color: #0b1d29; }

.header-right:hover > ul {
  visibility: visible;
  transition-delay: 0s; }

.splash {
  position: relative;
  height: 100vh;
  text-align: center; }

.splash::before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle; }

.splash-content {
  display: inline-block;
  vertical-align: middle;
  font-weight: 300; }

.landing-splash {
  text-shadow: 0 0 3px #000;
  color: white;
  background-color: rgba(50, 48, 50, 0.8); }
  .landing-splash form {
    padding: 0; }
  .landing-splash fieldset {
    padding: 5px 0; }

.background-video-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1; }
  .background-video-container .background-video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0; }

.section {
  min-height: 100px;
  padding: 100px;
  text-align: center;
  background-color: white; }
  .section .title {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 50px; }
  .section .icon {
    width: 100px;
    display: block;
    margin: 0 auto; }
  .section .icon + h3 {
    font-weight: 400;
    font-size: 24px; }
  .section .text-block {
    display: inline-block;
    width: 45%; }
  .section .column {
    display: inline-block;
    width: 25%;
    margin: 0 3%; }
  .section .question {
    margin: 10px 0;
    font-weight: 300; }
  .section .answer {
    padding-left: 50px; }

.section:nth-of-type(2n+1) {
  background-color: #cfdfe7; }

.main-container {
  min-height: 100vh;
  min-height: calc(100vh - 100px);
  padding-top: 100px;
  text-align: center; }
  .main-container .button {
    margin: 20px 0; }
  .main-container table {
    margin: 0 auto;
    text-align: left; }
    .main-container table th {
      padding: 0 20px;
      font-weight: 400; }
    .main-container table td {
      padding: 0 20px; }

form {
  padding: 20px; }

label, input {
  padding: 5px 15px;
  margin: 5px 0; }

label {
  display: inline-block;
  width: 80px; }

input {
  width: 150px; }

.footer {
  min-height: 150px;
  padding: 50px 20% 20px 20%;
  background-color: #102a3f;
  text-align: center;
  color: white;
  font-size: 16px; }
  .footer .column {
    text-align: left;
    display: inline-block;
    width: 25%;
    margin: 0 3%; }
  .footer .column:nth-of-type(n+2) {
    text-align: center; }
  .footer .column:last-of-type {
    text-align: right; }

.button {
  border: 1px solid white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  width: 100px;
  padding: 10px;
  font-size: 24px;
  font-weight: 200;
  cursor: pointer; }

.button:hover {
  background-color: #102a3f; }

.button:active {
  background-color: #0b1d29; }

.button-light {
  border: 1px solid white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #cfdfe7;
  display: inline-block;
  width: 100px;
  padding: 10px;
  font-size: 24px;
  font-weight: 200;
  cursor: pointer; }

.button-light:hover {
  background-color: #9ab8d4; }

.button-light:active {
  background-color: #829bb2; }

.w400 {
  font-size: inherit;
  font-weight: 400; }

hr {
  padding: 0;
  margin: 0;
  border: 1px solid black; }

h1 {
  font-size: 48px;
  font-weight: 300;
  margin: 0; }

h2 {
  font-size: 32px;
  font-weight: 300; }

h3 {
  font-weight: 300; }

.error {
  color: #8f3530; }

.small-link {
  display: block;
  font-size: 16px;
  color: inherit;
  text-decoration: none; }

.small-link:hover {
  text-decoration: underline; }

.plain {
  text-decoration: none; }

.align-left {
  text-align: left; }

.hidden {
  display: none; }
